.uitkTableBaseCell {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;

  border-style: solid;
  border-top-color: var(--row-border-color);
  border-right-color: var(--column-separator-color);
  border-width: 1px 1px 0 0;

  white-space: nowrap;
  position: relative;
  font-size: var(--uitkTable-fontSize);
  font-weight: normal;
  z-index: var(--uitkTable-cell-zIndex);
}

.uitkTableBaseCell-selectedCell {
  background-color: var(--uitkTable-cell-backgroundColor-selected);
}

.uitkTableBaseCell-secondary {
  background-color: var(--uitkTable-backgroundColor-secondary);
}

.uitkTableBaseCell-valueContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--uitkTable-cell-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--uitkTable-rowHeight);
}

.uitkTableBaseCell-editable .uitkTableBaseCell-valueContainer {
  border-width: 1px;
  border-style: solid;
  border-color: var(--uitkTable-editableCell-borderColor);
}
