.uitkToggleButtonGroup.uitkToggleButtonGroup-cta {
  --toggle-button-group-borderColor: var(--uitkToggleButtonGroup-cta-borderColor, var(--uitk-container-cta-borderColor));
}
.uitkToggleButtonGroup.uitkToggleButtonGroup-primary {
  --toggle-button-group-borderColor: var(--uitkToggleButtonGroup-primary-borderColor, var(--uitk-container-primary-borderColor));
}

.uitkToggleButtonGroup {
  --toggle-button-group-borderWidth: var(--uitkToggleButtonGroup-borderWidth, var(--uitk-container-borderWidth));
  --toggle-button-group-borderStyle: var(--uitkToggleButtonGroup-borderWidth, var(--uitk-container-borderStyle));

  display: inline-flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2px;
  border: var(--toggle-button-group-borderWidth) var(--toggle-button-group-borderStyle) var(--toggle-button-group-borderColor);
}

.uitkToggleButtonGroup.uitkToggleButtonGroup-secondary {
  --toggle-button-group-borderColor: var(--uitkToggleButtonGroup-secondary-borderColor, var(--uitk-container-secondary-borderColor));
}

.uitkToggleButtonGroup-horizontal .uitkToggleButton {
  height: var(--uitk-size-toggle-button);
}

.uitkToggleButtonGroup-horizontal .uitkToggleButton:not(:first-child) {
  margin-left: 2px;
}

.uitkToggleButtonGroup-vertical {
  flex-direction: column;
}

.uitkToggleButtonGroup-vertical .uitkToggleButton:not(:first-child) {
  margin-top: 2px;
}
