.dataGrid {
  height: 300px;
  width: 100%;
}

.gridContainer {
}

.exampleTable {
  height: 320px;
  width: 100%;
}

.notStarted {
  flex-grow: 1;

}

.started {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

.controlPanel {

}
